body {
    text-align: center;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: #677592;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 40px;
}

.albumBtn {
    width: 30%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    border-radius: 12px;
    background-color: #b0d7f5;
    border: none;
}

.albumBtn p {
    font-size: 18px;
}

.picDiv {
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.picDiv img {
    width: 50%;
    height: 50%;
}